<article class="content">
  <div class="row">
    <div class="small-12 large-3 columns">
    <%=image_tag('profile.jpg', class:'profile-pic')%>
    </div>
    <div class="small-12 large-5 columns">
       <p>
        Hi, my name is Jerry Chai, and I am a Medical Student turned Full Stack Web Developer. I am experienced in Ruby, JavaScript, HTML5, CSS3, and the relevant frameworks. But my true strength is in my passion for learning, strong meta-cognitive skills, and the ability to pick up new technologies efficiently. I am based in the Bay Area, and I am currently seeking opportunities as a software developer.
      </p>            
    </div>

    <div class="small-12 large-4 columns">
        <a class="twitter-timeline" href="https://twitter.com/JerryChaiTea" data-widget-id="613950399574204416" height ="300px">Tweets by @JerryChaiTea</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>
</article>