<article class="content">
  <div class="row">
    <div class="small-12 columns">
      <h1>Welcome!</h1>
    </div>
  </div>
  <div class="row">
    <div class="small-12 medium-7 columns">
    <img class="picture" src="https://scontent-lga3-1.xx.fbcdn.net/hphotos-xpt1/v/t1.0-9/10250243_10154089286275527_8140544441160466231_n.jpg?oh=775ecda8260be7bb614f3ea220acbe23&oe=569CCA71" alt="slide image">
    <br><br>
       <p>
        Hi, my name is Jerry Chai, and I am a Medical Student turned Full Stack Web Developer. I am experienced in Ruby, JavaScript, HTML5, CSS3, and the relevant frameworks. But my true strength is in my passion for learning, strong meta-cognitive skills, and the ability to pick up new technologies efficiently.
      </p>

    
                    
                
    </div>

    <div class="small-12 medium-5 columns">
        <a class="twitter-timeline" href="https://twitter.com/JerryChaiTea" data-widget-id="613950399574204416" height ="800px">Tweets by @JerryChaiTea</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>
</article>