<article class="content">
  <div class="row">

<div class="show-for-medium-up">
<%= image_tag("JerryChaiResume.jpg")%>
</div>

<div class="show-for-small">
<a href="https://resume.creddle.io/resume/ffgpx8yw9y0">Click Here To See My Resume</a>
</div>

</article>