<div class="row">
      <div class="large-12 hide-for-small">      
<div class="banner">
<%=image_tag('aurora.jpg')%>
</div>
</div>
</div>

<div class="row">
      <div class="large-12 show-for-small">      
<div class="banner">
<%=image_tag('aurora-mobile.jpg')%>
</div>
</div>
</div>

<nav class="top-bar" data-topbar>
          <ul class="title-area">
             
            <li class="name show-for-small">
              <h1>
                <a href="#">Jerry Chai</a>
              </h1>
            </li>
            <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
          </ul>
       
          <section class="top-bar-section">
             
            <ul class="right">
              <li><a href="/">Home</a></li>
              <li class="divider"></li>
              <li><a href="/about">About Me</a></li>
              <li class="divider"></li>
              <li><a href="/resume">Resume</a></li>
              <li class="divider"></li>
                <li class="has-dropdown">
                <a href="/projects">Projects</a>
                <ul class="dropdown">
                  <li><a href="http://coffeefriends.herokuapp.com/">Coffee Friends</a></li>
                  <li><a href="https://chaiteaflashcards.herokuapp.com/">Flashcards Game</a></li>
                  <li><a href="https://whopperoverflow.herokuapp.com/">WhopperOverflow</a></li>
                </ul>
              </li>
              <li class="divider"></li>
            </ul>
          </section>
        </nav>


        <div class="row">
      <div class="large-12">
        <div class="banner-clear hide-for-small">
        
        <h1 class="hide-for-small" id="logo-text">&#60Jerry Chai&#62</h1><br>
        <h1 class="hide-for-small" id="logo-text">//Software Developer<span class="blinking-cursor">|</span></h1>
        
        </div>
      </div>

      <div class="mobile-banner-clear show-for-small">


    </div>